
:root {
  /* --grundfarbe: #92D050; */
  /* --grundfarbe: #78A45A;*/
  --grundfarbe: #209850;
  /*--secondary: #363558;  */
  --secondary: #333333; 
  /* --secondary: rgb(35, 31, 32); */
  /*--third: linear-gradient( rgb(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)) no-repeat center center;*/
  --third: #cccccc;
  --grau: #231F20;
  --hellgrau: #343a40!important;
  --schrift: "Unica One", Arial, Helvetica, sans-serif;
  --schatten: black;
  --feuerschatten: 0 0 20px #fefcc9, 10px -10px 30px #feec85,-20px -20px 40px #ffae34,20px -40px 50px #ec760c,-20px -60px 60px #cd4606, 0 -80px 70px #973716,
    10px -90px 80px #451b0e;
}
.needs-validation{
  border: solid 1px var(--grundfarbe);
  border-radius: 1rem;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  display: block;
  visibility: hidden;
  width: 50%;
  background-color: #333;
  color: #fff;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 2;
  bottom: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.form-row{
  padding: 5px 10px 0px 10px!important;
  margin:5px 0px 5px 0px!important;
  background-color:var(--grundfarbe)!important;
  color:white!important;
  border-radius:5px!important;
}
.form-control{
  padding: unset!important;
  border: 1px solid var(--grundfarbe)!important;
  color: var(--grundfarbe)!important;
  /* background: var(--grundfarbe)!important; */
  margin: 0px 20px 0px 0px!important;
}
::placeholder{
  color:white;
}
a.nav-link.nav-item{
  color: var(--grundfarbe)!important;
}
a.nav-link.active{
  background: var(--grundfarbe)!important;
    color: white!important;
}

.btn.active, .btn:active{
    background-color: var(--grundfarbe)!important;
    color: white!important;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
.corner-ribbon{
  margin: 0;
  padding: 0;
  background: var(--grundfarbe);
  color:white;
  padding:1em 0;
  position: absolute;
  top:0;
  right:0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
}
.corner-ribbon:before,
.corner-ribbon:after {
  content: '';
  position: absolute;
  top:0;
  margin: 0 -1px; /* tweak */
  width: 100%;
  height: 100%;
  background: var(--grundfarbe);
}
.corner-ribbon:before {
  right:100%;
}

.corner-ribbon:after {
  left:100%;
}
.getränke{
  display: none;
}
.snack{
  display: none;
}
.alkohol{
  display: none;
}
.essen{
  display: none;
}
.extras{
  display: none;
}
.image1 {
  border: 1px solid #ddd; 
  border-radius: 4px;  
  padding: 5px; 
   margin-right: 10px; 
   max-width: 75px;
   max-height: 75px;
}
.image2 {

max-height: 160px;
}
.image3 {
max-height: 50px;
}

* {
  box-sizing: border-box;
}

body {
  background: #eceef1;
  font-family: "Slabo 27px", serif;
  color: #333a45;
}

.wrapper {
  margin: 0px auto;
  max-width: 1000px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
}

.header {
  padding: 0;
  text-align: center;
}
.header__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1;
}
.header__subtitle {
  margin: 0;
  font-size: 1.5em;
  color: #949fb0;
  font-family: "Yesteryear", cursive;
  font-weight: 500;
  line-height: 1.1;
}

.cards {
  padding: 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
}
.with-chevron[aria-expanded='true'] i {
  display: block;
  transform: rotate(180deg) !important;
}
@media screen and (max-width: 767px) {
  .with-chevron{
    bottom: 5%;
    right: 5%;
    position: fixed;
    height: 50px;
    width: 50px!important;
    border-radius: 50%!important;
    z-index: 3;
    color: white!important;
    background-color: var(--grundfarbe)!important;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  }
  .align-items-center{
      padding-top: 5px!important;
  }
  .text-uppercase{
    display:none;
  }
  .iconplus{
    display: unset;
  }
}
@media screen and (min-width: 768px) {
  .iconplus{
    display: none;
  }
}
.card {
  margin: 10px 10px 0px 10px;
  /*margin:auto;*/
  width: calc((100% / 3) - 30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  
}
@media screen and (max-width: 991px) {
  .card {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
.card:hover .card__inner {
  background-color: #1abc9c;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.card__inner {
  width: 100%;
  padding: 10px;
  position: relative;
  cursor: pointer;
  background-color: #949fb0;
  color: #eceef1;
  font-size: 1em;
  text-transform: uppercase;
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}
.card__inner:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card__inner .fa {
  width: 100%;
  margin-top: 0.25em;
}
.card__expander {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #333a45;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #eceef1;
  padding: 0px;
  font-size: 1em;
  border-radius: 5px;
  
}
.card__expander .fa {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.card__expander .fa:hover {
  opacity: 0.9;
}
.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}
.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
  
}
.card.is-expanded .card__inner {
  background-color: #1abc9c;
}
.card.is-expanded .card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333a45;
}
.card.is-expanded .card__inner .fa:before {
  content: "\f115";
}
.card.is-expanded .card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
  z-index: 1;
}
.card.is-expanded:hover .card__inner {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}
.card.is-inactive:hover .card__inner {
  background-color: #949fb0;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 992px) {
  .card:nth-of-type(3n + 2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(3n + 3) .card__expander {
    margin-left: calc(-200% - 60px);
  }

  .card:nth-of-type(3n + 4) {
    clear: left;
  }

  .card__expander {
    width: calc(300% + 60px);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n + 2) .card__expander {
    margin-left: calc(-100% - 30px);
  }

  .card:nth-of-type(2n + 3) {
    clear: left;
  }

  .card__expander {
    width: calc(200% + 30px);
  }
}


@media screen and (max-width: 575px){
  .form-group{
    margin:0!important;
  }

  .mb-3{
    max-width: 50%!important;
    margin:0!important;
  }
  label{
    margin:0!important;
  }
}